/* CSS customization
 */

//General styling
html {
    height: 100%;
}

body {
    background-size: cover;
    color:#1a1a1a;
    color:black;
    position: relative;
    overflow-y: scroll;
}
/* fonts */
h1,h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}
/* container background colors */
.bg-dark {
    background-color: beige;
}
.bg-light {
    background-color: rgba(255,255,255,0.4);
}
.bg-team {
    background-color: rgba(58,101,183,0.2);
}
/* icon colors in main grid */
[class*='col-'] [class^='icon-'] {
    color: #ac4c00;
}
/* get rid of anchor underline */
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none !important;
}
/* button for this theme */
.btn-theme, .btn-theme:focus, .btn-theme:hover, .btn-theme:active, .btn-theme:visited {
    background-color: #3a65b7;
    border-color: #3a65b7;
    color: #fafafa !important;
    margin: auto;
    display: block;
}
.btn-theme:hover, .btn-theme:focus {
    background-color: #073284;
    border-color: #073284;
}
/* center pills for team page */
.center-pills {
    display: inline-block;
}
/* container padding and margins */
.container-fluid {
    padding: 0;
    margin: 0;
}
.container-fluid.bg-team,
.container-fluid.bg-light,
.container-fluid.bg-dark {
    margin-bottom: 30px;
}
/* container box shadow */
.shadow {
    box-shadow: 4px 4px 8px #c2c2a9;
}
.container {
    box-shadow: 4px 4px 8px #c2c2a9;
}
/* compensate for top-navbar */
.container-first {
    margin-top: 50px;
}
.offset-anchor {
    position: absolute;
    top: -60px;
}
/* navbar customization */
.navbar {
    padding: 0px 15px;
}
.navbar-default {
    background-color: beige;
}
.navbar-brand {
    padding: 5px 15px;
}
/* hover behavior for navbar */
@media screen and (min-width: 768px) {
    ul.nav li.dropdown:hover ul.dropdown-menu {
        display:block;
        background-color: beige;
    }
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: beige;
    color:#1a1a1a;
}
/* load page */
.preload-icon {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-image: url('../images/Logo.png');
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}
/* footer */
#officehours {
    margin: auto;
}
#officehours th{
    padding: 7px 10px;
    text-align: left;
}
#officehours td{
    padding: 7px 10px;
    text-align: right;
}
.footer-social-media-icon {
    font-size: 30px;
    color: #222;
}
.foot {
    text-align: center;
    color: #222;
    padding-bottom: 50px;
}
.kc-footer {
    background-color: #9d9d9d;
    background-color: beige;
}

/****
index.html styling
****/
/* Styling for responsive image AND text scaling. Background image with position relative and height scaled to viewport with. Text is overlaid with hero-wrapper, position absolute. background position is set to focus on faces */
.jumbotron-kc {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0px;
}
.jumbotron-kc > .container-fluid-kc {
    background-image: url('../images/kcdentalphoto.jpg');
    filter: contrast(180%);
    filter: brightness(95%);
    background-size: cover;
    background-position: 50% 15%;
    text-align: center;
    color:beige;
    text-shadow: 2px 2px rgba(24,25,24,0.75);
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.hero-text-wrapper {
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.hero-text-wrapper h1 {
    font-size: 7vw;
    white-space: nowrap;
}
.hero-text-wrapper h2 {
    font-size: 3vw;
}
/* end hero styling */
/* styling for aboutup our office services row */
.aos{
    padding-top: 20px;
    padding-bottom: 50px;
}
.with-border {
    margin: auto;
    border: solid rgba(255,255,255,0.5) 8px;
    margin-bottom: 20px;
}
/* used with grid-columns to align buttons */
.btn-wrapper-align {
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
}
.btn-wrapper-fake
{
    visibility:hidden;
    padding:20px;
}
.btn-wrapper{
    padding: 20px;
}

/* office tour */
blockquote {
    border: none;
}
#carousel-wrapper > .col-xs-12 {
    padding: 30px 0px;
}
#testimonial-carousel {
    margin: 0;
    width: 100%;
    height: 200px;
    padding: 0;
}
#testimonial-carousel .carousel-cell{
    width: 100%;
    background-color: rgba(58,101,183,0.2);
    text-align: center;
    height: 100%;
    padding: 20px 0px;
}
#testimonial-carousel .carousel-quote {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 481px) {
    #testimonial-carousel blockquote {
        font-size:14px;
    }
}
#carousel-office-tour {
    padding: 50px 0;
    overflow: hidden;
}
#carousel-office-tour .flickity-viewport {
    overflow: visible;
}
#carousel-office-tour .carousel-cell:not(.is-selected) img {
    filter: blur(5px) brightness(30%) grayscale(60%);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#carousel-office-tour .carousel-cell.is-selected img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}
/* map */
.map-responsive{
    padding-top: 30px;
    overflow:hidden;
    padding-bottom:80.25%;
    position:relative;
    height:0;
    margin-bottom:30px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/****
team.html styling
****/
/*dentist  and staff carousels*/
.carousel-dentists {
    width: 75%;
    max-width: 1024px;
    margin: auto;
    overflow: hidden;
}
.carousel-dentists .flickity-viewport {
    overflow: visible;
}
.carousel-staff {
    width: 75%;
    margin: auto;
}
@media screen and (max-width: 640px) {
    .carousel-dentists,
    .carousel-staff {
        width: 100%;
    }
}
.carousel-dentists .carousel-cell,
.carousel-staff .carousel-cell {
    margin: 20px;
}

.carousel-staff .carousel-cell {
    margin: 20px;
}
.carousel-dentists .carousel-cell.is-selected img,
.carousel-staff .carousel-cell.is-selected img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}
.carousel-dentists .carousel-cell:not(.is-selected) img,
.carousel-staff .carousel-cell:not(.is-selected) img {
    filter: blur(2px) brightness(70%) grayscale(100%);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.carousel-dentists-bio {
    width: 100%
}
.carousel-dentists-bio .carousel-cell{
    width: 100%
}
.carousel-caption {
    padding: 0;
    bottom: 0;
}
/******
 services.html styling
*****/
.services-header {
    background-image: linear-gradient(to bottom right,#6d98ea,#3a65b7);
    padding: 35px;
}
.services-text {
    padding: 30px;
}
.services-images {
    padding: 30px;
    text-align: center;
}
/** css for youtube iframe responsive **/
.video-container {
    position: relative;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Go to Top
-------------------------------------------------------*/
#back-to-top {
    display: block;
    z-index: 100;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    bottom: 20px;
    //  bottom: -34px;
    right: 20px;
    line-height: 35px;
    background-color: rgba(41, 43, 50, 0.3);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
#back-to-top i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#back-to-top a {
    display: block;
    color: #fff;
}

#back-to-top.show {
    bottom: 20px;
}
#back-to-top:hover {
    background-color: rgba(58,101,183,0.8);
    //background-color: #b09980;
    bottom: 24px;
}

#back-to-top:hover i {
    color: #fff;
    text-decoration: none;
}
