/* CSS customization
 */

h1,h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}
.offset-anchor {
    position: absolute;
    top: -60px;
}
.bg-dark {
    background-color: #aabbcc;
    //background-color: #778899;
}
.bg-light {
    background-color: rgba(255,255,255,0.4);
}
.shadow {
    box-shadow: 4px 4px 8px;
}


.purple-link,
.purple-link:visited {
    color: #74396a !important;
    text-decoration: none !important;
}

a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none !important;
}

.btn-default, .btn-default:focus, .btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color: #74396a;
    border-color: #74396a;
    color: #fafafa !important;
}

//General styling
html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom right,rgba(116,57,106,0.2),rgba(92,160,195,.2));
    background-size: cover;
    color:#1a1a1a;
}
.container {
    box-shadow: 4px 4px 8px;
}
.navbar{
    padding: 0px 15px;
}
.navbar-brand {
    padding: 5px 15px;
}
.jumbotron {
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}

.jumbotron > .container-fluid {
    background-image: linear-gradient(to right,rgba(4,50,253,.05),rgba(4,50,253,.05)),url('../images/kcdentalphoto.jpg');
    filter: contrast(180%);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #eeeeee;
    text-shadow: 1px 2px rgba(24,25,24,0.5);
    padding: 400px 0;
    margin-bottom: 30px
}
.aos{
    padding-top: 20px;
    padding-bottom: 50px;
}


.btn-wrapper-align {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%,50%);
}
.btn-wrapper-fake
{
    visibility:hidden;
    padding:20px;
}

.btn-wrapper{
    padding: 20px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
    margin: auto;
}

.carousel-control,
.carousel{
    background-image: none !important;
    background-color: transparent;
}

#carousel-wrapper {
    margin: 30px auto;
    padding-left:0px;
    padding-right: 0px;
}
.item {
    padding: 16px;
}
.item>.image-responsive {
    box-shadow: 8px 8px 8px;
    border:solid #222 16px;
}


#officehours th{
    padding: 7px 10px;
    text-align: left;
}
#officehours td{
    padding: 7px 10px;
    text-align: right;
}
.map-responsive{
    padding-top: 30px;
    overflow:hidden;
    padding-bottom:80.25%;
    position:relative;
    height:0;
    margin-bottom:30px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.foot {
    text-align: center;
    color: #222;
    padding-bottom: 50px;
}
